
@{
    ViewBag.Title = "FinalJuego";
}

<div class="mantenimiento p-4 mt-5">
    <div class="border border-success shadow p-5">

        <p class="text-center sizeG fw-bold colorWhite">FELICITACIONES</p>
        <p class="text-center fw-bold colorWhite">Respuestas correctas: </p>
        <p class="text-center fw-bold colorWhite">Teimpo: </p>
        <p class="text-center fw-bold colorWhite">Día y hora de la participación: </p>
        <div class="d-flex justify-content-center pt-5 pe-4">
            <button type="button" class="btn btn-outline-dark"><p class="fs-3">CONOCE AL EQUIPO COMERCIAL</p></button>
        </div>

    </div>
</div>

