
@{
    ViewBag.Title = "Mantenimiento";
}

<div class="mantenimiento p-4 mt-5" >
    <div class="border border-success shadow p-5">
        
            <p class="text-center sizeG fw-bold colorWhite">En Mantenimiento</p>
            <p class="text-center sizeM fw-bold colorWhite">estamos trabajando para brindarte una mejor experiencia</p>
            <div class="d-flex justify-content-center pt-5 pe-4">
                <img src="~/public/img/logo.png" />
            </div>
        
    </div>
</div>

