
@{
    ViewBag.Title = "ProxGanadores";
}

<div class="mantenimiento p-4 mt-5">
    <div class="border border-success shadow p-5">
        <div class="d-flex justify-content-center pt-5 pe-4">
            <img src="~/public/img/logo.png" />
        </div>
        <p class="text-center sizeG fw-bold colorWhite">MUCHAS GRACIAS</p>
        <p class="text-center sizeM fw-bold colorWhite">en breve conocerás a los ganadores</p>


    </div>
</div>

