<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    @*<link rel="stylesheet" href="~/Content/Site.css">*@
    <style>
        body {
            background-color: #211f21;
        }

        .colorWhite {
            color: #ffffff;
        }

        .cajaGreen {
            background: #519c80;
        }
        .cajaYellow {
            background: #d3d329;
        }
        .cajaRed {
            background: #eb3424;
        }
        .cajaBlue {
            background: #19909f;
        }
        .cajaLemon {
            background: #8ec73f;
        }

        .imgFondo {
            width: 70px;
            height: 70px;
        }
        .cajaOrange {
            background: #ec5b29;
        }
        .img {
            width: 70px;
            height: 70px;
        }
        .imgL {
            width: 75px;
            height: 50px;
        }
        .txtMaraton{

        }
        .fondoQuestion {
            background: #cecece;
        }

        .boxQuestion {
            background: #519c80;
        }
        .boxQuestionF {
            background: #eb3424;
        }
        .boxQuestionT {
            background: #49c00f;
        }
        .iconQ {
            width: 25px;
            height: 25px;
        }
        .mantenimiento {
            background: #519c80;
        }

        .sizeG{
            font-size: 60px;
          
        }

        .sizeM {
            font-size: 20px;
           
        }
        .gif {
            width:70%;
            height:50%;
        }
        .red {
            background: #eb3424;
        }
        
    </style>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #325a4c;">
        <div class="container">
            <a class="navbar-brand px-5" href="#">
                <img src="~/public/img/logo.png" class="logo" />
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item mx-4">
                        <a class="nav-link colorWhite" aria-current="page" href="#">VIDEO PRESENTACIÓN</a>
                    </li>
                    <li class="nav-item mx-4">
                        <a class="nav-link colorWhite" href="#">MARATÓN AMC</a>
                    </li>
                    <li class="nav-item mx-4">
                        <a class="nav-link colorWhite" href="#">EQUIPO COMERCIAL</a>
                    </li>
                    <li class="nav-item mx-4">
                        <a class="nav-link colorWhite">AYUDA</a>
                    </li>
                    <li class="nav-item border mx-4">
                        <a class="nav-link px-4 colorWhite">SALIR</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        @RenderBody()
        <footer>
        </footer>
    </div>


    @*@Scripts.Render("~/bundles/bootstrap")*@
    <script src="~/Scripts/bootstrap.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
