
@{
    ViewBag.Title = "Penalidad";
}

<div class="row mt-5">
    <div class="col-7"></div>
    <div class="col-1"></div>
    <div class="col-4">

        <div class="fondoQuestion p-2">

            <div class="d-flex justify-content-center pt-3">
                <div class="border red rounded-circle p-3">
                    <p class="colorWhite fw-bold pe-3 ps-3 fs-1">5</p>
                </div>
            </div>

            <p class="sizeG text-center">RESPUESTA <br /> INCORRECTA</p>
            <p class="sizeM text-center pb-5">Vuelve a intentarlo</p>

        </div>

        

    </div>
</div>

