@{
    ViewBag.Title = "Home Page";
}

<div class="row mt-5">
    <div class="col-7">
        <div class=" d-flex justify-content-end">
            <div class="cajaGreen pe-3 ps-3 pb-3 pt-3">
                @*<img src="~/public/img/GrupoSalida.png" class="imgFondo" />*@
                <p class="colorWhite">SALIDA</p>
            </div>
            <div class="border border-2 cajaYellow p-2 ms-4">
               
                    <img src="~/public/img/p0.png" class="img" />
                
            </div>
            <div class="border border-2 cajaGreen p-2">
                <div class="border border-2 border-secondary shadow-lg rounded-circle p-1">
                    <img src="~/public/img/p1.png" class="img" />
                </div>
            </div>
            <div class=" border border-2 cajaGreen p-2">
                <div class="border border-2 border-secondary shadow-lg rounded-circle p-1">
                    <img src="~/public/img/p2.png" class="img" />
                </div>
            </div>
            <div class="border border-2 cajaRed p-2">
                
                    <img src="~/public/img/p3.png" class="img" />
                
            </div>
            <div class="border border-2 cajaGreen p-2 rounded-top">
                <div class="border border-2 border-secondary shadow-lg rounded-circle p-1">
                    <img src="~/public/img/p4.png" class="img" />
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-end">
            <div class=" border border-2 cajaGreen p-2 ms-5">
                <div class="border border-2 border-secondary shadow-lg rounded-circle p-1">
                    <img src="~/public/img/p5.png" class="img" />
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-end">
            <div class=" border border-2 cajaGreen p-2 rounded-top">
                <div class="border border-2 border-secondary shadow-lg rounded-circle p-1">
                    <img src="~/public/img/p11.png" class="img" />
                </div>
            </div>
            <div class=" border border-2 cajaGreen p-2 ">
                <div class="border border-2 border-secondary shadow-lg rounded-circle p-1">
                    <img src="~/public/img/p10.png" class="img" />
                </div>
            </div>
            <div class=" border border-2 cajaLemon ps-3 pe-2">
                
                    <img src="~/public/img/p9.png" class="imgL" />
               
            </div>
            <div class=" border border-2 cajaGreen p-2">
                <div class="border border-2 border-secondary shadow-lg rounded-circle p-1">
                    <img src="~/public/img/p8.png" class="img" />
                </div>
            </div>
            <div class=" border border-2 cajaGreen p-2">
                <div class="border border-2 border-secondary shadow-lg rounded-circle p-1">
                    <img src="~/public/img/p7.png" class="img" />
                </div>
            </div>
            <div class="border border-2 cajaBlue p-2 rounded-bottom">
                <div class="border border-2 border-secondary shadow-lg rounded-circle p-1">
                    <img src="~/public/img/p1.png" class="img" />
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-end">
            <div class="border border-2 cajaYellow p-2">
                <div class="border border-2 border-secondary shadow-lg rounded-circle p-1">
                    <img src="~/public/img/p1.png" class="img"/>
                </div>
            </div>

            <!---->
            <div class="border border-2 cajaGreen p-2 opacity-0">
                <div class="border border-2 border-secondary shadow-lg rounded-circle p-1">
                    <img src="~/public/img/p1.png" class="img" />
                </div>
            </div>
            <div class="border border-2 cajaGreen p-2 opacity-0">
                <div class="border border-2 border-secondary shadow-lg rounded-circle p-1">
                    <img src="~/public/img/p1.png" class="img" />
                </div>
            </div>
            <div class="border border-2 cajaGreen p-2 opacity-0">
                <div class="border border-2 border-secondary shadow-lg rounded-circle p-1">
                    <img src="~/public/img/p1.png" class="img" />
                </div>
            </div>
            <div class="border border-2 cajaGreen p-2 opacity-0">
                <div class="border border-2 border-secondary shadow-lg rounded-circle p-1">
                    <img src="~/public/img/p1.png" class="img" />
                </div>
            </div>

            <div class="border border-2 cajaGreen p-2 opacity-0">
                <div class="border border-2 border-secondary shadow-lg rounded-circle p-1">
                    <img src="~/public/img/p1.png" class="img" />
                </div>
            </div>
        </div>
        <!---->

        <div class="d-flex justify-content-end">
            <div class="border border-2 cajaGreen p-2 rounded-bottom">
                <div class="border border-2 border-secondary shadow-lg rounded-circle p-1">
                    <img src="~/public/img/p13.png" class="img" />
                </div>
            </div>
            <div class="border border-2 cajaGreen p-2">
                <div class="border border-2 border-secondary shadow-lg rounded-circle p-1">
                    <img src="~/public/img/p14.png" class="img" />
                </div>

            </div>
            <div class=" border border-2 cajaOrange p-2">
                
                    <img src="~/public/img/p15.png" class="img" />
                
            </div>
            <div class=" border border-2  cajaGreen p-2">
                <div class="border border-2 border-secondary shadow-lg rounded-circle p-1">
                    <img src="~/public/img/p16.png" class="img" />
                </div>
            </div>
            <div class="border border-2 cajaGreen p-2 me-3">
                <div class="border border-2 border-secondary shadow-lg rounded-circle p-1">
                    <img src="~/public/img/p17.png" class="img" />
                </div>
            </div>
            <div class="cajaGreen pe-3 ps-3 pb-3 pt-3">
                @*<img src="~/public/img/p1.png" class="img" />*@
                <p class="colorWhite">LLEGADA</p>
            </div>
        </div>
    </div>

 
<div class="col-1"></div>
<div class="col-4">

    
        <p class="colorWhite text-center fs-2 mt-5">MARATÓN <span class="fw-bold">AMC CONNECT</span></p>

        <div class="d-flex justify-content-center p-3">
            <div class="border border-secondary shadow-lg rounded-circle d-flex justify-content-center p-4">
                <div class="border border-secondary shadow-lg rounded-circle d-flex justify-content-center p-5">
                    <p class="colorWhite text-center">Espacio Dado</p>
                </div>
            </div>
        </div>

        <p class="colorWhite text-center fw-bold mt-3">HAZ CLICK EN EL DADO</p>
    

</div>
</div>